.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../../public/img/pozadina.jpg") no-repeat center center / cover;
  padding: 4rem;
}

.login-card.register-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  width: 700px; /* šira kartica zbog dve kolone */
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.login-card.register-card h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.form-row {
  display: flex;
  gap: 2rem;
}

.form-col {
  flex: 1;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: #444;
}

input, .custom-select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s ease;
}

input:focus, .custom-select:focus {
  border-color: #007bff;
}

.custom-file-upload {
  display:inline-block;
  padding:0.4rem 0.7rem;
  background:#f0f8ff;
  border-radius:8px;
  border:1px dashed rgba(40,71,56,0.15);
  color:#284738;
  cursor:pointer;
  font-weight:600;
}


.custom-file-upload:hover {
  background-color: #5cad86;
}

.custom-file-upload input {
  display: none;
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #4f7a66;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 1rem;
}

button:hover {
  background-color: #6aa389;
}

.red {
  color: #ff4d4f;
  font-weight: 600;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: block;
}

.card-group {
  position: relative;
}

.card-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.card-input-wrapper input {
  width: 100%;
  padding-right: 50px; 
}

.card-icon {
  width: 50px;       
  height: 25px;      
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}


.card-icon.visa {
  background-image: url("../../../public/img/visa.png");
}

.card-icon.mastercard {
  background-image: url("../../../public/img/mastercard.png");
}

.card-icon.diners {
  background-image: url("../../../public/img/diners.png");
}


.form-group span {
  margin-left: 10px;
  font-style: italic;
  font-size: small;
  color: #555;
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}


/* Horizontalni top menu */
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-bottom: 16px;
  border-radius: 0 0 12px 12px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* centriranje */
  height: 22px;
  z-index: 1000;
  position: relative;
  margin-top: -55px;
}

.top-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem; 
  margin: 0;
  padding: 0;
}

.top-menu a {
  text-decoration: none;
  color: #284738;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.top-menu a:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #6aa389;
}


/* RESPONSIVE */
@media (max-width: 1300px) {
  .top-menu {
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 0px;
  }
}

@media (max-width: 440px) {
  .top-menu {
    padding: 0.5rem 1rem;
    gap: 0.3rem;
    margin-top: 0px;
  }
  .top-menu a {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }
}
