.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0.3rem 1rem;
  height: 45px;
  background-color: rgba(200, 230, 200, 0.5); 
  color: #284738;
  position: relative;
}

.site-logo {
  width: 50px;
  height: 50px;
}

.site-header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.5rem;
}


:host {
  display: block;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}



router-outlet {
  display: block;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #001a33;
  color: #ccc;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.footer p {
  margin: 0;
}

