.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    background: url("../../../public/img/pozadina.jpg") no-repeat center center / cover;
    gap: 3rem;
}

.reservations-wrapper {
    width: 80%;
    max-width: 900px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reservation-card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reservation-card h2 {
    color: #284738;
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
}

ag-charts {
    width: 100%;
    height: 600px;
    border-radius: 12px;
}

/* responsive za manje ekrane */
@media (max-width: 768px) {
    ag-charts {
        height: 450px;
    }
}




/* Horizontalni top menu*/
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-bottom: 16px;
  border-radius: 0 0 12px 12px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* centriranje */
  height: 22px;
  z-index: 1000;
  position: relative;
  margin-top: -55px;
}

.menu-left, .menu-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu-left, .menu-right {
  margin: 0; /* uklonjene fiksne margine */
}

.menu-right{
  margin-right: -50px;
}

.top-menu a {
  text-decoration: none;
  color: #284738;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.top-menu a:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #6aa389;
}

/* RESPONSIVE */
@media (max-width: 1300px) {
  .top-menu {
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 0px;
    padding-bottom: 50px;
  }
  .menu-left, .menu-right {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .menu-right{
    margin-right: 0px;
  }
}

@media (max-width: 440px) {
  .top-menu {
    padding: 0.5rem 1rem;
    gap: 0.3rem;
    margin-top: 0px;
    padding-bottom: 80px;
  }
  .top-menu a {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }
  .menu-right{
    margin-right: 0px;
  }
}
